.timeline {
  list-style: none;
}

.timeline-date {
  text-align: center;
  color: #333;
  background-color: #e5e5d1;
  border-radius: 1em;
  width: 110px;
  margin-top: 20px;
}

.timeline > li {
  margin-bottom: 1em;
}

.timeline-content > h3 {
  margin-block-end: 0;
}

.timeline-content > p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

@media (min-width: 720px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    float: left;
  }
  .timeline-content {
    width: 70%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 1.5em;
    margin-left: 1.5em;
  }
  .timeline-content:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
    margin: 0 1.5em;
  }
}
